# Environment variables
.env

# Output files
spotify_streaming_history.json
spotify_api_cache.json
unknown_songs.txt

# Data folders

*.jsonl
*.json
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo